<section>
  <h3 class="text-center mb-5 mt-4">Welcome! Here is ourfield staff</h3>
  <div class="container mt-4">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">Place</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.place }}</td>
            <td>{{ user.lat }}</td>
            <td>{{ user.long }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary btn-sm" routerLink="/">
      Update your location
    </button>
  </div>
</section>
